<!DOCTYPE html>
<html>
<head>
  <title>Librarian</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<h3>&copy Joshi-Nirmal; 2011</h3>
</body>
</html>
